.element__title_link {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #8CEDFE;
  transition: opacity 0.3s linear;
}

.element__title_link:hover {
  opacity: 0.6;
}
