.not-found__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
  padding: 0;
}

@media (max-width: 520px) {
  .not-found__text {
    font-size: 12px;
    line-height: 14px;
  }
}